/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*,
*::after,
*::before {
    margin: 0; 
    padding: 0;
    box-sizing: inherit;          /*https://developer.mozilla.org/es/docs/Web/CSS/box-sizing*/
}

html {
    /* font-size: 10px; */
    font-size: 62.5%; /*por defecto el tamaño de la fuente es 16px. ==> 16px = 100% ==> 10px = ? (regla de tres)*/
}

body {
    font-family: "Lato", sans-serif; /*https://developer.mozilla.org/es/docs/Web/CSS/@font-face/font-family*/
    font-weight: 400;                /*https://developer.mozilla.org/es/docs/Web/CSS/font-weight*/
    /* font-size: 16px;                 https://developer.mozilla.org/es/docs/Web/CSS/font-size */
    line-height: 1.7;                /*https://developer.mozilla.org/es/docs/Web/CSS/line-height*/
    color: #777;                   /*https://developer.mozilla.org/es/docs/Web/CSS/color_value*/
    /* padding: 30px;                   https://developer.mozilla.org/es/docs/Web/CSS/padding */
    padding: 3rem;
    box-sizing: border-box;
}

.header {
    height: 95vh;                           /*https://developer.mozilla.org/es/docs/Web/CSS/height*/ 
                                            /*Note: vh representa que la altura de la imagen va a ser un 95% alta respecto 
                                            al total del espacio*/
    background-image: linear-gradient(      /*https://developer.mozilla.org/es/docs/Web/CSS/background-image*/   
                                            /*https://developer.mozilla.org/es/docs/Web/CSS/linear-gradient()*/
        to right bottom, 
        rgba(126, 213, 111, 0.80), 
        rgba(40, 180, 133, 0.80)
        ), 
        url(../img/hero.jpg);
    background-size: cover;                 /*https://developer.mozilla.org/es/docs/Web/CSS/background-size*/
    background-position: top;               /*https://developer.mozilla.org/es/docs/Web/CSS/background-position*/
    position: relative;                     /*https://developer.mozilla.org/es/docs/Web/CSS/position*/

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /*https://developer.mozilla.org/es/docs/Web/CSS/clip-path*/
                                                        /*Note: dale forma a tu imagen con esta url que tye facilita los porcentajes:*/
                                                        /*https://bennettfeely.com/clippy/*/
}

.logo-box {
    position: absolute;                     /*https://developer.mozilla.org/es/docs/Web/CSS/position*/
    /* top: 40px;                              /*https://developer.mozilla.org/es/docs/Web/CSS/top*/
    /* left: 40px;                             https://developer.mozilla.org/es/docs/Web/CSS/left */ 
    top: 4rem;
    left: 4rem;
}

.logo {
    /* height: 35px;                           https://developer.mozilla.org/es/docs/Web/CSS/@viewport/height */
    height: 3.5rem;
}

.text-box {
    position: absolute;                     /*https://developer.mozilla.org/es/docs/Web/CSS/position*/
    top: 40%;                               /*https://developer.mozilla.org/es/docs/Web/CSS/top*/
    left: 50%;                              /*https://developer.mozilla.org/es/docs/Web/CSS/left*/
    transform: translate(-50%, -50%);       /*https://developer.mozilla.org/es/docs/Web/SVG/Attribute/transform*/  
                                            /*La propiedad transform: translate() me permite ubicar la "caja" del texto en
                                            todo el centro ya que inicialmente la coordenada 0,0 es la referencia que toma la caja
                                            respecto a su contenedor. Top y left corresponden a su contenedor mientras que transform
                                            corresponde al elemento como tal.*/  
    text-align: center; /*alíneo todos los textos contenidos acá adentro, incluyendo mi <a> boton.*/
}

.heading-primary {
    color: #FFF;
    text-transform: uppercase;              /*https://developer.mozilla.org/es/docs/Web/CSS/text-transform*/

    backface-visibility: hidden;            /*En el tutorial las letras tienene un ligero movimiento hacia arriba una vez culmina la
                                              animcación, practicamente despreciable. En mi browser no noté eso la verdad. Como
                                              información ==> https://developer.mozilla.org/es/docs/Web/CSS/backface-visibility */
    /* margin-bottom: 60px; */
    margin-bottom: 6rem;
}

.heading-primary-main {
    display: block;                         /*https://developer.mozilla.org/es/docs/Web/CSS/display*/
    /* font-size: 60px; */
    font-size: 6rem;
    font-weight: 400;
    /* letter-spacing: 35px;                   https://developer.mozilla.org/en-US/docs/Web/CSS/letter-spacing */
    letter-spacing: 3.5rem;

    animation-name: moveInLeft; /*Acá llamas al "método" que está declarado líneas mas abajo para que la animación sea aplicada a ese
                                bloque del html.*/
    animation-duration: 1s;
    animation-timing-function: ease-out;    /*https://developer.mozilla.org/es/docs/Web/CSS/animation-timing-function*/
    /* 
    
    animation-iteration-count: 3; repite la acción n veces se lo indiques.
    animation-delay: 3s; tiempo especificado antes de iniciar la animación.
    */
}

.heading-primary-sub {
    display: block;
    /* font-size: 20px; */
    font-size: 2rem;
    font-weight: 700;
    /* letter-spacing: 17.4px; */
    letter-spacing: 1.74rem;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;                         /*https://developer.mozilla.org/es/docs/Web/CSS/opacity*/
        /* transform: translateX(-100px); */
        transform: translateX(-10rem);
    }

    80% {
        /* transform: translateX(10px); */
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;                         
        /* transform: translateX(100px); */
        transform: translateX(10rem);
    }

    80% {
        /* transform: translateX(-10px); */
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;                         
        /* transform: translateY(30px); */
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn:link,
.btn:visited {                                 /*https://developer.mozilla.org/es/docs/Web/CSS/:link*/
    text-transform: uppercase;
    text-decoration: none;                     /*https://developer.mozilla.org/es/docs/Web/CSS/text-decoration*/
    /* padding: 15px 40px; */
    padding: 1.5rem 4rem;
    display: inline-block;
    /* border-radius: 100px;                      https://developer.mozilla.org/es/docs/Web/CSS/border-radius */
    border-radius: 10rem;
    transition: all .2; /*La transición se declara en el estado inicial y aplica para el resto de los estados.*/
    position: relative; /*Servirá de referencia para la declaracion position: absolute; de mas abajo*/
    font-size: 1.6rem;
}

.btn:hover {
    transform: translateY(-3px);
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, .2);                   https://developer.mozilla.org/es/docs/Web/CSS/box-shadow */
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(-1px);
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, .2); */
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.btn-white {
    background-color: #FFF;
    color: #777;
}

.btn::after {                                   /*https://developer.mozilla.org/es/docs/Web/CSS/::after*/
    content: "";                                /*https://developer.mozilla.org/es/docs/Web/CSS/content*/
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
    transition: all .4s;                               /*https://developer.mozilla.org/es/docs/Web/CSS/z-index*/
}

.btn-white::after {
    background-color: white;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;                     /*https://developer.mozilla.org/es/docs/Web/CSS/animation-fill-mode*/
}